{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .example-wrapper h1:first-child { text-align:center;}
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h1>Hello {{ controller_prenom }}! ✅</h1>

    <h1>you live into  {{ controller_adresse }}! ✅</h1>

    <h1>your email is : {{ controller_mail }}! ✅</h1>

    <p>Lien vers la doc php <a href="{{controller_path}}">lien</a><br></p>
    
    <a href="{{ path('app_home') }}">vers home page</a> <br>
    <a href="{{ path('app_profil') }}">vers profil page</a><br>




    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/laragon/www/symfony6/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/laragon/www/symfony6/templates/home/index.html.twig</code></li>

        
    </ul>
</div>
{% endblock %}
